@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=VT323');

.App {
  text-align: center;
  font-family: 'Press Start 2P', 'VT323';
  color: white;
}

*{
  box-sizing:border-box;
}

body {
  overflow: hidden;
}

.overlay{
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.moving-backround {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/background/Crazy_Tigers_left.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
.about-moving-backround {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/background/Crazy_Tigers_left_.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
.team-moving-backround {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/background/Crazy_Tigers_left_.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
.headings {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.paragraphs {
  margin-top: 170px;
  color: #f9e522;
  text-align: center;
}

.paragraph {
  margin-top: 20px;
  color: #f9e522;
  text-align: center;
}

.noparagraphs {
  margin-top: 500px;
  color: #f9e522;
  text-align: center;
}

@media only screen and (max-width : 700px) {

  header nav{
    position: fixed;
    margin-top: 66px;
    margin-right: 25px;
    top: 0;
  }

  .socialBoxA {
    margin-right: 5px;
  }

  .socialBoxB {
    margin-right: 5px;
  }
  .moving-backround {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./assets/background/Crazy_Tigers_mobi.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
  }
  .job{
    font-size: 10px;
  }
  .name{
    font-size: 11px;
  }
  
}

