@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=VT323');

.App {
  text-align: center;
  font-family: 'Press Start 2P', 'VT323';
  color: white;
}

*{
  box-sizing:border-box;
}

body {
  overflow: hidden;
}

.overlay{
  opacity: 0.85;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

.moving-backround {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/background/Crazy_Tigers.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
.about-moving-backround {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/background/team_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
.team-moving-backround {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./assets/background/team_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
}
.headings {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.paragraphs {
  margin-top: 700px;
  color: #f9e522;
  text-align: center;
}

.paragraph {
  margin-top: 20px;
  color: #f9e522;
  text-align: center;
}

header .nav-btn {
  cursor: pointer;
  background: #f9e522;
  color: black;
  visibility: hidden;

}

@media only screen and (max-width : 700px) {
  header .nav-btn{
    visibility: visible;
  }
  header nav{
    position: fixed;
    margin-top: 66px;
    margin-right: 5%;
    top: 0;
    
  }
  .socialBoxA{
    margin-right: 5px;
  }
  .socialBoxB{
    margin-right: 5px;
  }
}

